<div class="colors-wheel">
  <ion-slides pager="false" [options]="slideOpts" #slider (ionSlideWillChange)="onSlideChange()" (ionSlideTouchEnd)="onSlideChange()">
    <ion-slide *ngFor="let style of product.product_style" class="variants">
      <img [src]="style.thumbnail" class="front-img" (mouseover)="switchStyle(product, style)" (mouseout)="onMouseOut()"/>
    </ion-slide>
  </ion-slides>
  <div class="left-arrow" (click)="prevSlide()" [ngClass]="{'disable': isBeginning}">
    <i class="fal fa-angle-left"></i>
  </div>
  <div class="right-arrow" (click)="nextSlide()" [ngClass]="{'disable': isEnd}">
    <i class="fal fa-angle-right"></i>
  </div>
</div>

