.text-alert {
  color: red !important;
}

.text-success {
  color: green !important;
}

.text-warning {
  color: orange !important;
}

.text-info {
  color: blue !important;
}

.text-white {
  color: white !important;
}
.text-black {
  color: black !important;
}
