<footer role="contentinfo">
<!--   
  <ion-row class="ion-hide-sm-down">
    <ion-col size="6">
      <ul>
        <li>CONTACT</li>
        <li>ABOUT</li>
        <li>SOCIAL RESPONSIBILITY</li>
      </ul>
    </ion-col>
    <ion-col class="ion-text-right" size="6">
      <ul>
        <li>SUBSCRIBE</li>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-instagram"></i></li>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row class="ion-hide-md-up">
    <ion-col class="ion-text-center" size="12">
      <ul><li>CONTACT</li></ul>
    </ion-col>
    <ion-col class="ion-text-center" size="12">
      <ul><li>SUBSCRIBE</li></ul>
    </ion-col>
    <ion-col class="ion-text-center" size="12">
      <div class="input-box">
        <input type="text" name="email" id="popup_newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Email"/>
        <div class="genders">
          <label>
            <input type="radio" id="footer-newsletter-gender-male" name="gender" title="" value="1" class="radio-btn"/>
            <span>M</span>
          </label>
          <label>
            <input type="radio" id="footer-newsletter-gender-female" name="gender" title="" value="2" class="radio-btn"/>
            <span>F</span>
          </label>
        </div>
        <button type="submit" title="Submit" class="button">
          <span><span>OK</span></span>
        </button>
      </div>
    </ion-col>
    <ion-col class="ion-text-center" size="12">
      <i class="fab fa-facebook-f mini-icons"></i>
      <i class="fab fa-instagram mini-icons"></i>
    </ion-col>
  </ion-row> -->

</footer>
